# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env/

# Models
models/*.h5
models/*.keras

# Data (optional if large)
data/raw/*.csv

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

models/*.keras
models/*.h5